{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="full-height is-flex is-justify-content-center mt-5">
    <div class="content">
        <h1 class="is-flex is-justify-content-center">Update Task</h1>

        <form action="/update/{{task.id}}" method="POST">
            <div class="field has-addons">
                <input type="text" name="content" id="content" value="{{task.content}}" class="input" placeholder="Type here..." style="width: 15rem;" autofocus>
                <input type="submit" value="Update" class="button ml-2">
            </div>
        </form>

    </div>
</div>
{% endblock %}